/* Rest css code start */

*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
*{
    box-sizing: border-box;
}
/* Rest css code end */


/* common css content start */
body{
    font-family:Arial;
}

.fleft{
    float: left;
}

.fright{
    float: right;
}

.layout-container{
    margin: auto;
    width: 1000px;
}


/* common css content end */

/* header start */

.header-primary{
    height: 59px;
    background-color: black;
}
.header-wrapper{


}

/* header end  */


/* navigation start */

.navigation-primary{
    padding-top: 30px;
}

.navigation-wrapper{
    margin: auto;
    width: 1000px;
}

.navigation-link{
    height: 27px;
    display: inline-block;
    font-weight: bold;
    color: white;
    font-size: 13px;
    padding: 0px 5px;
    position: relative;
}

/* active class style */

.active:after{
    position: absolute;
    display: block;

    border-right: 6px solid transparent;
    border-bottom: 6px solid white;
    border-left: 6px solid transparent;

    transform: translateX(-50%);
    left: 50%;
    bottom: 0;
    content: '';
}

/* hover effect start */

.navigation-link:hover:after {

    position: absolute;
    display: block;

    border-right: 6px solid transparent;
    border-bottom: 6px solid white;
    border-left: 6px solid transparent;

    transform: translateX(-50%);
    left: 50%;
    bottom: 0px;
    content: '';
}

/* hover effect end */


/* navigation bar end */