/* Rest css code start */

*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}

/* Rest css code end */


/* common css content start */
body{
    font-family:Arial;
}

.fleft{
    float: left;
}

.fright{
    float: right;
}

.layout-container{
    margin: auto;
    width: 1000px;
}


/* common css content end */


/* navigation start */

.navigation-primary{
    height: 60px;
    background-color: black;
}
.navigation-wrapper{
    margin: auto;
    width: 1000px;
}
.navigation-link{
    cursor: pointer;
    padding-left: 10px;
    padding-top: 30px;
    font-weight: bold;
    color: white;
    font-size: 15px;
}

/* hover effect start */
a:hover {
    position: relative;
}
a:hover:after {
    content: url(../image/arrow.png); /* no need for qoutes */
    display: block;
    position: absolute;
    left: 50%;
    top: 45px;
}
/* hover effect end */


/* navigation bar end */